@import url('https://fonts.googleapis.com/css2?family=Roboto:whgt@300&display=swap');

:root {
    --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --library-bgc: rgb(246, 246, 246);
    --white-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#library {
    width: 100%;
    height: 100vh;
    background-color: var(--library-bgc);
    position: relative;
}

#library-container {
    width: 25%;
    height: 75%;
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
}

#formulary {
    width: 100%;
    height: 100%;
    padding: 4.5em 3em;
}

#library-title {
    font-size: 2rem;
    margin-bottom: .5em;
}

#library-paragraph {
    font-weight: 300px;
}

#input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.inputs {
    margin-top: 2.5em;
}

.inputs:focus {
    color: blue;
}

.input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    padding: .6em .3em;
    border-bottom: 1px solid #5757577e;
    color: #706c6c;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

#submit-button {
    width: 100%;
    color: var(--white-color);
    background-color: #0d6efd;
    border: none;
    border-radius: .5em;
    padding: .8em 0;
    font-weight: 300px;
    font-family: 'Roboto', sans-serif;
}

#submit-button:hover {
    background-color: #009EFF;
}

#submit-button:active {
    background-color: #009EFF;
    transform: translateY(5px);
}

